# GitHub API Configuration
# Necessário para criar e publicar componentes
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GITHUB_OWNER=seuusuario
COMPONENTS_REPO=minha-lib-astro
BASE_PROJECT_REPO=_base-project
PUBLIC_REGISTRY_URL=https://raw.githubusercontent.com/seuusuario/minha-lib-astro/main/registry.json
